.loginEmailMobileScreen {
  position: relative;
  width: 390px;
  height: 844px;
  background-color: #fff;
  margin: 0 auto;
  font-family: "Noto Sans KR", sans-serif;
}

.loginEmail {
  margin: 24px;
}

.emailAccount {
  margin: 15px 0;
}

#loginTitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.loginButton {
  margin: 30px 0 0 0;
  text-align: center;
}

.loginEmailText {
  margin-top: 20px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
}
