.homeFeedData {
  position: relative;
}

.homeFeed {
  width: 390px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
}

.homeFeedMain {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 712px;
  padding: 220px 0 294px 0;
}

.homeFeedMain button {
  margin: 20px auto 0;
}

.homeFeedLogo {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
}

.homeFeedDescription {
  font-size: 14px;
  color: #767676;
}

/* HomeFeedData */

.homeFeedData {
  width: 390px;
  margin: 0 auto;
  background-color: #ffffff;
}

.homeFeedDataMain {
  height: 712px;
  overflow-y: scroll;
}

.homeFeedDataMain::-webkit-scrollbar {
  display: none;
}

.tabmenuHome {
  position: absolute;
  bottom: 0;
  background-color: #fff;
}
