.chatFeed {
  width: 390px;
  margin: 0 auto;
  background-color: #ffffff;
}

.chatFeedMain {
  box-sizing: border-box;
  height: 772px;
}

.chatFeedLists {
  margin-top: 20px;
}

.chatFeedLists li + li {
  margin-top: 20px;
}

.chatFeedLists li:first-child {
  position: relative;
  cursor: pointer;
}

.chatFeedLists li:first-child::after {
  background: url(../../assets/Ellipse\ 6.svg);
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 0;
}
