.postContent {
  padding: 20px 16px;
  box-sizing: border-box;
}

.postUser {
  display: flex;
  align-items: center;
  width: 358px;
  margin-bottom: 12px;
  border-radius: 50%;
}
.postUser .postUserImg {
  width: 42px;
  height: 42px;
  margin-right: 12px;
  border-radius: 100%;
  cursor: pointer;
}
.postUserInfo {
  display: flex;
  flex-direction: column;
}
.postUserInfo .postUserName {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 500;
}
.postUserInfo .postUserId {
  font-weight: 400;
  font-size: 12px;
  color: #767676;
}
.postUser .moreBtn {
  background: url(../../assets/icon/icon-more-vertical.svg) transparent;
  background-size: 18px;
  width: 18px;
  height: 18px;
  margin-left: auto;
  margin-bottom: 20px;
}

.postMain {
  width: 304px;
  margin-left: auto;
}
.postMain .contenttxt {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 16px;
}
.postMain .contentImg {
  margin: 0 0 12px;
  width: 304px;
  height: 228px;
  object-fit: cover;
  border-radius: 10px;
}

.postBtnWrap {
  width: 304px;
  margin-left: auto;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.postBtnWrap button {
  background-color: #fff;
  width: 20px;
  height: 20px;
  background-size: 20px;
  margin-right: 6px;
}
.postBtnWrap .heartIcon {
  display: flex;
  align-items: center;
  margin-right: 16px;
}
.postBtnWrap .messageIcon {
  display: flex;
  align-items: center;
}
.postBtnWrap .heartIcon .heartBtn {
  background-image: url(../../assets/icon/icon-heart.svg);
}

.postBtnWrap .heartIcon .heartClickedBtn {
  background-image: url(../../assets/icon/icon-heart.png);
}
.postBtnWrap .messageIcon .messageBtn {
  background-image: url(../../assets/icon/icon-message-circle.svg);
}

.postDate {
  width: 304px;
  margin-top: 16px;
  margin-left: auto;
  font-weight: 400;
  font-size: 10px;
  color: #767676;
}

.disabledPostPopup {
  display: none;
}
