.postContent {
  padding: 20px 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #DBDBDB;
}

.postUser {
  display: flex;
  align-items: center;
  width: 358px;
  margin-bottom: 12px;
}
.postUser .postUserImg {
  width: 42px;
  height: 42px;
  margin-right: 12px;
}
.postUserInfo {
  display: flex;
  flex-direction: column;
}
.postUserInfo .postUserName {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 500;
}
.postUserInfo .postUserId {
  font-weight: 400;
  font-size: 12px;
  color: #767676;
}
.postUser .moreBtn {
  width: 18px;
  height: 18px;
  margin-left: auto;
  margin-bottom: 20px;
  vertical-align: text-top;
}

.postMain {
  width: 304px;
  margin-left: auto;
}
.postMain .contenttxt {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.postMain .contentImg {
  margin: 16px 0 12px;
}

.postBtnWrap {
  width: 304px;
  margin-left: auto;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.postBtnWrap button {
  background-color: #fff;
  width: 20px;
  height: 20px;
  background-size: 20px;
  margin-right: 6px;
}
.postBtnWrap .heartIcon {
  display: flex;
  align-items: center;
  margin-right: 16px;
}
.postBtnWrap .messageIcon {
  display: flex;
  align-items: center;
}
.postBtnWrap .heartIcon .heartBtn {
  background-image: url(../../assets/icon/icon-heart.svg);
}
.postBtnWrap .messageIcon .messageBtn {
  background-image: url(../../assets/icon/icon-message-circle.svg);
}

.postDate {
  width: 304px;
  margin-top: 16px;
  margin-left: auto;
  font-weight: 400;
  font-size: 10px;
  color: #767676;
}