.tabMenuWrapper {
  width: 390px;
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  border-top: 0.5px solid #dbdbdb;
}

.tabMenuWrapper li {
  width: 84px;
  height: 60px;
  text-align: center;
}

.tabMenuWrapper li .tabLink {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding-top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #767676;
  text-decoration: none;
}

.tabMenuWrapper li .tabLink.homeFeed {
  background: url(../../assets/icon/icon-home.svg) no-repeat center 12px;
}
.tabMenuWrapper li .tabLink.homeFeed.active {
  background: url(../../assets/icon/icon-home-fill.svg) no-repeat center 12px;
  color: #3e7c17;
  border: none;
}

.tabMenuWrapper li .tabLink.chatFeed {
  background: url(../../assets/icon/icon-message-circle.svg) no-repeat center
    12px;
}
.tabMenuWrapper li .tabLink.chatFeed.active {
  background: url(../../assets/icon/icon-message-circle-fill.svg) no-repeat
    center 12px;
  color: #3e7c17;
  border: none;
}

.tabMenuWrapper li .tabLink.postUpload {
  background: url(../../assets/icon/icon-edit.svg) no-repeat center 12px;
}

.tabMenuWrapper li .tabLink.myProfile {
  background: url(../../assets/icon/icon-user.svg) no-repeat center 12px;
}
.tabMenuWrapper li .tabLink.myProfile.active {
  background: url(../../assets/icon/icon-user-fill.svg) no-repeat center 12px;
  color: #3e7c17;
  border: none;
}
