.commentForm {
  width: 390px;
  margin: 0 auto;
  padding: 13px 16px;
  box-sizing: border-box;
  border-top: 0.5px solid #dbdbdb;
}

.basicProfile {
  width: 36px;
  height: 36px;
  vertical-align: middle;
  border-radius: 50%;
}

.inputComment {
  width: 264px;
  margin: 0 10px 0 18px;
  vertical-align: middle;
}
.inputComment::placeholder {
  color: #c4c4c4;
}
.inputComment:focus {
  outline: none;
}

.uploadComment {
  background-color: transparent;
  color: #c4c4c4;
  padding: 0;
  vertical-align: middle;
  pointer-events: none;
}

.activeCommentButton {
  background-color: transparent;
  padding: 0;
  vertical-align: middle;
  color: #3e7c17;
  cursor: pointer;
}
