.singlePostWrap {
  width: 390px;
  height: 844px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
}

.singlePostMain {
  height: 711px;
  overflow-y: scroll;
}

.singlePostContainer {
  border-bottom: 1px solid #dbdbdb;
}

.postCommentWrap {
  padding: 4px 16px;
}

.commentModal {
  position: absolute;
  top: 0;
  width: 390px;
  height: 844px;
}

.disabledCommentPopup {
  display: none;
}
