.profileUpdate {
  width: 390px;
  height: 844px;
  margin: 0 auto;
  background-color: #fff;
}

.textInput {
  width: 322px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.errorMessage {
  font-size: 12px;
  font-weight: 400;
  color: #eb5757;
}

.imgErrorMsg {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}
