.inputForm {
  display: flex;
  flex-direction: column;
  width: 322px;
  background-color: white;
}

.inputLabel {
  margin-bottom: 10px;
  font-size: 12px;
  color: #767676;
}

.inputText {
  font-size: 14px;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 8px;
}

.inputText::placeholder {
  color: #dbdbdb;
}

.inputText:focus,
.inputText:active {
  outline: none;
  border-bottom: 1px solid #3e7c17;
  background-color: #ffffff;
}
