.nav {
  width: 390px;
  height: 48px;
  border-bottom: 0.5px solid #DBDBDB;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.arrowButton {
  width: 22px;
  height: 22px;
  margin-left: 16px;
  background: url(../../assets/icon/icon-arrow-left.svg) no-repeat;
}

.moreButton {
  width: 24px;
  height: 24px;
  margin: 0 12px 0 auto;
  background: url(../../assets/icon/icon-more-vertical.svg) no-repeat;
}

.searchInput {
  width: 315px;
  height: 32px;
  margin: 0 19px 0 auto;
  padding: 7px 16px;
  border-radius: 32px;
  background: #F2F2F2;
  font-size: 14px;
  font-weight: 400;
  color: #C4C4C4;
}

.mainTitle {
  margin-left: 16px;
  font-size: 18px;
  font-weight: 500;
}

.searchButton { 
  width: 24px;
  height: 24px;
  margin: 0 16px 0 auto;
  background: url(../../assets/icon/icon-search.svg) no-repeat;
}

.chatTitle {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
}

.uploadButton {
  margin: 0 19px 0 auto;
}