.postUploadWrap {
  width: 390px;
  height: 820px;
  margin: 0 auto; 
  background-color: #fff;
  position: relative;
}

.postUploadContent {
  padding: 20px 16px;
  display: flex;
}

.postUploadContent .postUploadUserImg {
  margin-right: 13px;
  width: 42px;
  height: 42px;
}

.postUploadContent .postUploadTxt {
  width: 100%;
  border: none;
  resize: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 12px 0;
}
.postUploadContent .postUploadTxt::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #C4C4C4;
}
.postUploadContent .postUploadTxt:focus {
  outline: none;
}

.postUploadBtn {
  background: url(../../assets/upload-file.svg);
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
}
.postUploadInput[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}