.modalList {
  padding-left: 26px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.modalList .modalTxtBtn {
  width: 100%;
  height: 46px;
  padding: 0;
  background-color: transparent;
  text-align: left;
}
