.MyProfileMobileScreen {
  position: relative;
  width: 390px;
  height: 844px;
  background-color: #fff;
  margin: 0 auto;
  overflow: auto;
  overflow-x: hidden;
  font-family: "Noto Sans KR", sans-serif;
}

.myProfileMain {
  height: 712px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  display: none;
}

.tabmenu {
  position: fixed;
  background-color: #fff;
  top: 815px;
}

.MyProfileButtonWrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

.disabledMyProfilePopup {
  display: none;
}
