.productUpload {
  width: 390px;
  height: 844px;
  margin: 0 auto;
  background-color: #fff;
}

.productImgUpload {
  width: 322px;
  margin: 30px auto;
}

.imgUploadText {
  display: block;
  margin-bottom:18px;
  font-size: 12px;
  font-weight: 400;
  color: #767676;
}

.productImg {
  height: 204px;
  display: block;
  border: 0.5px solid #DBDBDB;
  border-radius: 10px;
  box-sizing: border-box;
  background: #F2F2F2;
  position: relative;
}

.productImg::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  bottom: 12px;
  right: 12px;
  background: url(../../assets/img-button.svg);
  background-size: 100% 100%;
  z-index: 10;
}

.productImg img {
  width: 100%;
}

.textInput {
  width: 322px;
  margin: 0 auto;
  margin-bottom: 16px;
}