.followers {
  width: 390px;
  height: 844px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
}

.followerUser {
  margin-top: 24px;
}

.followerUser li {
  margin: 0 auto;
}

.followerUser li+li {
  margin-top: 16px;
}

.tabMenu {
  position: absolute;
  bottom: 0;
}