.NotFoundFeed {
  width: 390px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
}

.NotFoundMain {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 820px;
  text-align: center;
  padding: 200px 0 344px 0;
}

.NotFoundDescription {
  font-size: 14px;
  color: #767676;
}

.NotFoundMain button {
  margin: 30px auto 0;
}

.NotFoundLogo {
  width: 158px;
  height: 158px;
  margin: 0 auto 30px;
}